<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SGM_Student_Mgt_System_2022.Properties.Settings.Student_Information_DBConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Student_Information_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>